/* Fonts */

// Google Fonts
// @import "https://fonts.googleapis.com/css....";

// Custom Font

/*
@font-face {
  font-family: $font-family-base;
  src: url("../font/PrimaryFont.otf") format("opentype");
}

@font-face {
  font-family: $font-family-secondary;
  src: url("../font/SecondaryFont.otf") format("opentype");
}
*/
