/* Main CSS */
a.skip-main {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9;
  left: 20px;
  transform: translateY(-100px);
  transition: transform 0.3s;

  &:focus {
    outline: none;
    transform: translateY(10px);
    width: auto;
    height: auto;
  }
}
