/**
* Put your variables to override default Bootstrap variables
* from /node_modules/bootstrap/scss/_variables.scss for
* global styling
*/

// Font Sizes

$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Container Widths

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

// Colors

$blue:       #0d6efd;
$indigo:     #6610f2;
$purple:     #6f42c1;
$pink:       #d63384;
$red:        #dc3545;
$orange:     #fd7e14;
$yellow:     #ffc107;
$green:      #198754;
$teal:       #20c997;
$cyan:       #0dcaf0;
$white:      #fff;
$gray-light: #f8f9fa;
$gray:	     #6c757d;
$gray-dark:  #212529;
$black:      #000;

$primary:       $blue;
$secondary:     $gray;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-light;
$dark:          $gray-dark;
